@font-face {
    font-family: 'ppNeueMontreal-thin';
    src: url('./assets/ppneuemontreal-thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ppNeueMontreal-normal';
    src: url('./assets/ppneuemontreal-book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    min-height: 100vh;
}

.home-page-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    width: 100%;
    min-height: 100vh;
    flex:1;
    padding: 2.5vw;
}

.links {
    text-decoration: none;
    color: black;
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'ppNeueMontreal-normal';
}

.navbar-logo {
    flex: 1;
    padding: 0.9vw;
    overflow: hidden;
}

.nav-menu-section {
    display: flex;
    gap: 3vw;
    align-items: center;
    padding: 0.9vw 2vw 0.9vw 2vw;
    font-weight: bold;
}

.nav-menu {
    font-size: small;
    cursor:pointer;
    overflow: hidden;
}

.hero-section {
    height: 100vh;
    width: 100%;
}

.sub-hero-section {
    text-align: center;
    align-content: center;
    height: 100vh;
    width: 100%;
}

.contents {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tagline {
    font-family: 'ppNeueMontreal-thin';
    font-size: 1rem;
}

.sub-tags {
    font-family: 'ppNeueMontreal-normal';
    font-size: 1.3rem;
}

button {
    background-color: black;
    color: white;
    font-family: 'ppNeueMontreal-normal';
    font-size: 1rem;
    padding: 1.3rem 1.7rem;
    border: none;
    cursor: pointer;
}

.explore-by-location {
    display: flex;
    height: 70vh;
    margin-bottom: 10vw;
}

.left,
.right {
    flex: 1;
    position: relative;
}

.location-image {
    width: 16vw;
    height: 17vw;
    object-fit: cover;
    position: absolute;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.image-0 {
    left: 15%;
    top: -20%;
}

.image-1 {
    left: 40%;
    top: 3%;
}

.image-2 {
    top: 24%;
    left: 10%;
}

.image-3 {
    top: 50%;
    left: 40%;
}

.image-4 {
    top: 68%;
    left: 10%;
}

.center {
    width: 40%;
    text-align: center;
}

.center li {
    text-decoration: none;
    list-style: none;
    font-family: 'ppNeueMontreal-normal';
    font-size: 5.2vw;
    letter-spacing: -0.1rem;
    color: #C3C2C1;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}

.center li:hover {
    color: black;
}

.cafe-list-page {
    height: auto;
    width: 100%;
}

.cafe-h1-container {
    overflow-y: hidden;
}

.cafe-h3-container {
    overflow: hidden;
}

.cafe-list-page-header {
    margin-bottom: 8vw;
}

.cafe-list-page-header h1 {
    font-family: 'ppNeueMontreal-normal';
    letter-spacing: -0.01rem;
    font-size: 3vw;
}

.cafe-list-page-header h3 {
    font-family: 'ppNeueMontreal-thin';
    font-size: 1.7vw;
}

.cafe-list-section {
    width: 100%;
    height: auto;
    display: flex;
    gap: 1.5vw;
    flex-wrap: wrap;
}

.component-card {
    box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.08),
    0 12px 24px rgba(0, 0, 0, 0.12),
    0 24px 48px rgba(0, 0, 0, 0.08);
    height: 36vw;
    padding: 1.3vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    cursor: pointer;
    width: 30vw;
    margin-bottom: 2vw;
}

.component-card-image {
    height: 29vw;
    width: 27.3vw;
}

.component-card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.component-card-location h4 {
    text-transform: uppercase;
    font-family: 'ppNeueMontreal-normal';
    letter-spacing: -0.01rem;
    font-size: 1.6vw;
}

.component-card-title p {
    font-family: 'ppNeueMontreal-normal';
    font-size: 0.9vw;
}

.review-section-wrapper {
    overflow-x: hidden;
    margin-bottom: 10vw;
}

.review-section {
    height: auto;
    width: max-content;
    display: flex;
    gap: 2vw;
    padding: 4vw 0 4vw 0;
}

.review-card-component {
    width: 30vw;
    box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.08),
    0 12px 24px rgba(0, 0, 0, 0.12),
    0 24px 48px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    height: 15vw;
    padding: 1vw;
    flex-shrink: 0;
}

.review-header {
    display: flex;
    justify-content: space-between;
    font-family: 'ppNeueMontreal-normal';
    font-weight: bold;
    margin-bottom: 1.7vw;
}

.review {
    font-family: 'ppNeueMontreal-thin';
    font-weight: bold;
    margin-bottom: 1.7vw;
}

.review-ratings {
    background-color: #e6e4e2;
    border-radius: 0.3vw;
    padding: 1px 4px 1px 4px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.review-bottom {
    font-family: 'ppNeueMontreal-normal';
    font-weight: bold;
}

.review-section-header {
    font-family: "ppNeueMontreal-normal";
    font-weight: bold;
    text-align: center;
}

/* .footer-section {
    background-color: black;
    color: white;
    display: flex;
}

.footer-first-part {
    background-color: yellow;
    width: 30vw;
    padding: 1.5vw;
}

.footer-second-part {
    background-color: green;
    width: 70vw;
    display: flex;
}

.footer-lists {
    list-style: none;
} */

.footer-section {
    width: 100%;
    padding: 4rem 8%;
    background: #111111;
    color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6rem;

    margin-top: auto;
}

.footer-first-part {
    flex: 1;
    max-width: 400px;
}

.footer-first-part h1 {
    font-family: 'ppNeueMontreal-normal';
    font-size: 2.5rem;
    letter-spacing: -0.05rem;
}

.footer-first-part p {
    font-size: 1rem;
    line-height: 1.7;
    color: #b8b8b8;
    font-family: 'ppNeueMontreal-normal';
    font-size: small;
}

.footer-second-part {
    display: flex;
    gap: 5rem;
}

.footer-headers {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    color: white;
    font-family: 'ppNeueMontreal-normal';
    font-weight: bold;
    font-size: medium;
}

.footer-lists {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'ppNeueMontreal-normal';
    font-size: small;
}

.footer-lists li {
    margin-bottom: 0.9rem;
    color: #b8b8b8;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-lists li:hover {
    color: white;
}

.footer-second-part-first-list,
.footer-second-part-second-list,
.footer-second-part-third-list {
    min-width: 120px;
}

.get-started-section {
    min-height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    background-image: url('https://images.pexels.com/photos/7156283/pexels-photo-7156283.jpeg');
    background-size: cover;
    background-position: center;
}

.get-started-header {
    font-family: 'ppNeueMontreal-normal';
    font-weight: bold;
    overflow: hidden;
}

.get-started-para {
    font-family: 'ppNeueMontreal-thin';
    font-size: small;
    margin-bottom: 2vw;
    overflow:hidden;
}

.button-get-started {
    overflow: hidden;
}

.footer-menu-wrapper {
    overflow: hidden;
}